

{% extends 'base.html' %}


{% block content %}

 
 
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Add Todo Item</h4>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}

                        <div class="form-group">
                            <label>Title</label>
                            <input  type="text" id="title" name="title" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label>Description</label>
                            <textarea class="form-control" required id="description" name="description"></textarea> 
                        </div> 
                        <div class="form-group">
                            <input type="submit" class="btn btn-success" value="Add">
                            <input type="button" class="btn btn-primary" value="Back to list" onclick="window.location='{% url 'index' %}'">
                        </div>
                    </form>
                </div>
            </div>

            
 

{% endblock %}
